$primary-color: #E07C37;
$secondary-color: #EDB33F;
$black: #353535;

html {
    .ui.menu {
        font-family: 'Roboto' !important;
    }
}

.secondary.color {
    color: $secondary-color !important;
}

.primary.color {
    color: $primary-color !important;
}

.item.brand {
    color: $primary-color !important;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: normal !important;
}

.item {
    font-size: 16px;
    font-weight: bold !important;
}

.ui.vertical.menu{
	margin-top: 82px !important;
    top: -14px !important;
	width: 100%;
	display: none;
    position: fixed;
    z-index: 10;
}


#particles-js {
    height: 100vh;
    width: 100%;
}
#splash {
    position:absolute; 
    width: 100%;
    // z-index: -100;
    padding-top: 0;
    margin-top: 5vh;
    height: 94vh;
    // background-image: url('../images/bg1.jpg');
    background-position: center center;
    background-size: cover;
    .ui.segment {
        box-shadow: 3px 3px 2px rgba(34,36,38,.3);
        background-color: rgba(224, 124, 55, .75);
        // background-color: rgba(255, 255, 255, 1);
        border: none;
        border-radius: 1px;
        // color: $primary-color;
        color: #fafafa;
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 1.7px;
        // padding-bottom: 20px;
        .ui.button {
            background-color: $secondary-color;
            color: #fafafa;
            margin-top: 20px;
        }
    }
}

.social-links {
    .facebook {
        color: $primary-color;
    }
    .linkedin {
        color: $primary-color;
    }
    .instagram {
        color: $primary-color;
    }
}

#about {
	padding-top: 40px;
	padding-bottom: 40px;

	.row {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 34px;
	}

	p {
		font-size: 20px;
	}
}

#vision {
	margin-top: 20px;
	background-color: $primary-color;
	.ui.basic.segment{
		text-align: center !important;		
	}
	.ui.header {
		color: #fafafa;
	}
}

.column {
	display: flex !important;
}

.centered {
	margin: 0 auto !important;
}

.orange-bg {
	background-color: $primary-color !important;
}

.white {
	color: #fafafa;
}

#team {

    h2 {
        font-size: 34px;
    }

    .sub.header {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
}

#expertise {
    padding-top: 40px;
    // padding-bottom: 40px;
    h2 {
        font-size: 34px;
        color: $primary-color;
    }

    h3 {
        font-size: 28px;
        color: #333;
    }

    .ui.segment {
        margin: 0 auto;
    }

    i.icon {
        margin: 0 auto;
    }

    .row.bottom {
        padding-top: 0;
    }
}

.ui.divider {
    margin-bottom: 80px;
}

#story {
    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        letter-spacing: 1.2px;
        line-height: 40px;
    }
    padding-bottom: 80px;
}

#footer {
    background-color: #333;
    padding-top: 20px;
    .social {
        padding-bottom: 0;
        margin-bottom: -10px;
    }

    .emails {
        padding-bottom: 0;
        margin-bottom: -10px;
        font-size: 18px !important;
    }
    
    .icon {
        color: #fafafa;
    }
    .ui.basic.segment {
        font-size: 14px;
    }
    color: #fafafa;
    // height: 100px;
}