html .ui.menu {
  font-family: 'Roboto' !important; }

body {
  background-color: #f5f5f5; }

.secondary.color {
  color: #EDB33F !important; }

.primary.color {
  color: #E07C37 !important; }

.item.brand {
  color: #E07C37 !important;
  font-size: 24px;
  letter-spacing: 1.5px;
  font-weight: normal !important; }

.item {
  font-size: 16px;
  font-weight: bold !important; }

.ui.vertical.menu {
  margin-top: 82px !important;
  top: -14px !important;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 10; }

#particles-js {
  height: 94vh;
  width: 100vw; }

#splash {
  background: rgba(245, 245, 245, 0);
  background: -moz-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245, 245, 245, 0)), color-stop(0%, rgba(245, 245, 245, 0)), color-stop(100%, whitesmoke));
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
  background: -o-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
  background: -ms-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
  background: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=1 );
  position: absolute;
  width: 100vw;
  padding-top: 0;
  margin-top: 5vh;
  height: 94vh;
  background-position: center center;
  background-size: cover; }
  #splash h1 {
    margin-top: 0px;
    font-size: 48px;
    letter-spacing: 2px; }
    #splash h1 .sub.header {
      font-size: 20px; }
  #splash .ui.segment {
    border: none;
    color: #353535;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.7px; }
  #splash .ui.button {
    background-color: #EDB33F;
    color: #fafafa;
    align-self: flex-start; }

.social-links .facebook {
  color: #E07C37; }
.social-links .linkedin {
  color: #E07C37; }
.social-links .instagram {
  color: #E07C37; }

#about {
  margin-top: 40px;
  margin-bottom: 30px; }
  #about .row {
    margin-top: 20px;
    margin-bottom: 20px; }
  #about .icon {
    color: #C96E32; }
  #about .column h2 {
    font-size: 34px;
    color: #353535; }
  #about h2 {
    font-size: 34px;
    color: #E07C37; }
  #about p {
    font-size: 20px; }
  #about .statistic .value {
    color: #C96E32; }

#vision {
  background-color: #E07C37; }
  #vision .ui.basic.segment {
    text-align: center !important; }
  #vision .ui.header {
    color: #fafafa; }

.column {
  display: flex !important; }

.centered {
  margin: 0 auto !important; }

.orange-bg {
  background-color: #E07C37 !important; }

.white {
  color: #fafafa; }

#team h2 {
  font-size: 34px; }
#team .sub.header {
  font-size: 20px; }
#team p {
  font-size: 20px; }

#expertise {
  padding-top: 40px; }
  #expertise h2 {
    font-size: 34px;
    color: #E07C37; }
  #expertise h3 {
    font-size: 28px;
    color: #333; }
  #expertise .ui.segment {
    margin: 0 auto; }
  #expertise i.icon {
    margin: 0 auto; }
  #expertise .row.bottom {
    padding-top: 0; }

.ui.divider {
  margin-bottom: 80px; }

#partners {
  margin-top: 0 !important;
  margin-bottom: 72px;
  padding: 40px 0;
  background-color: #E5E5E5;
  margin-top: 50px; }
  #partners h2 {
    font-size: 32px;
    margin-bottom: -24px;
    color: #E07C37; }
  @media (max-width: 30em) {
    #partners h2 {
      margin-bottom: 24px; } }
  #partners .ui.image {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
    #partners .ui.image:hover {
      -webkit-filter: grayscale(0);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0);
      transition: ease-in 0.2s; }

#story {
  margin-top: 50px; }
  #story h2 {
    font-size: 32px;
    margin-bottom: 20px; }
  #story p {
    font-size: 26px;
    letter-spacing: 2px;
    line-height: 40px;
    visibility: hidden;
    margin-bottom: 0; }
  #story .ui.divider {
    width: 25%;
    background-color: #EDB33F;
    visibility: hidden; }
  #story .image {
    visibility: hidden; }
  #story .row {
    margin-bottom: 60px; }

@media (max-width: 30em) {
  #story .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 40px; }
  #story .ui.divider {
    margin-bottom: 0; }
  #story .row .second {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  #story .row .first {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; } }
#contact {
  margin-bottom: 50px; }
  #contact h2 {
    font-size: 32px;
    color: #E07C37; }
  #contact h1 {
    margin-top: 0px;
    font-size: 32px;
    text-align: center;
    letter-spacing: 2px; }
  #contact .ui.segment {
    width: 100%; }
  #contact #form {
    width: 100%; }
    #contact #form .ui.button {
      background-color: #EDB33F;
      color: #fafafa;
      align-self: flex-start; }

#footer {
  background-color: #333;
  padding-top: 20px;
  color: #fafafa; }
  #footer .social {
    padding-bottom: 0;
    margin-bottom: -10px; }
  #footer .emails {
    padding-bottom: 0;
    margin-bottom: -10px;
    font-size: 14px !important; }
  #footer .icon {
    color: #fafafa; }
  #footer .ui.basic.segment {
    font-size: 14px; }

/*# sourceMappingURL=main.css.map */
