$primary-color: #E07C37;
$secondary-color: #EDB33F;
$black: #353535;

html {
    .ui.menu {
        font-family: 'Roboto' !important;
    }
}

.secondary.color {
    color: $secondary-color !important;
}

.primary.color {
    color: $primary-color !important;
}

.item.brand {
    color: $primary-color !important;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.item {
    font-size: 16px;
}

.ui.vertical.menu{
	margin-top: 82px !important;
	width: 100%;
	display: none;
    position: fixed;
    z-index: 10;
}

#splash {
    padding-top: 0;
    margin-top: 5vh;
    height: 94vh;
    background-image: url('../images/bg1.jpg');
    background-position: center center;
    background-size: cover;
    .ui.segment {
        box-shadow: 3px 3px 2px rgba(34,36,38,.3);
        background-color: rgba(224, 124, 55, .75);
        // background-color: rgba(255, 255, 255, 1);
        border: none;
        border-radius: 1px;
        // color: $primary-color;
        color: #fafafa;
        text-align: center;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 1.7px;
        .ui.button {
            background-color: $secondary-color;
            color: #fafafa;
            margin-top: 20px;
        }
    }
}

.about {
	padding-top: 40px;
	padding-bottom: 40px;

	.row {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 34px;
	}

	p {
		font-size: 20px;
	}
}

#vision {
	margin-top: 20px;
	background-color: $primary-color;
	.ui.basic.segment{
		text-align: center !important;		
	}
	.ui.header {
		color: #fafafa;
	}
}

.column {
	display: flex !important;
}

.centered {
	margin: 0 auto !important;
}

.orange-bg {
	background-color: $primary-color !important;
}

.white {
	color: #fafafa;
}