$primary-color: #E07C37;
$secondary-color: #EDB33F;
$black: #353535;

html {
    .ui.menu {
        font-family: 'Roboto' !important;
    }
}

.secondary.color {
    color: $secondary-color !important;
}

.primary.color {
    color: $primary-color !important;
}

.item.brand {
    color: $primary-color !important;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.item {
    font-size: 16px;
}

.ui.vertical.menu{
	margin-top: 70px !important;
	width: 100%;
	display: none;
}